# Project info
site_name: Mentored Sprints Community Handbook
site_description: Field notes to run open source sprints

# Repo
repo_name: pycon-mentored-sprints/community-handbook
edit_uri: edit/main/docs/
repo_url: https://github.com/pycon-mentored-sprints/community-handbook

# Copyright
copyright: Copyright &copy; 2020-2021 Mentored Sprints

# Configuration
theme:
  name: material
  palette:
    - media: "(preference-color-scheme: light)"
      scheme: ms-light
      primary: ms-blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
- media: "(preference-color-scheme: dark)"
      scheme: ms-dark
      primary: ms-blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github-square

  logo: assets/community_handbook_white_trans.svg
  # Navigation
  features:
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections

  font:
    text: Obliqua
    code: Inconsolata
  favicon: assets/favicon/favicon.ico
  language: en

extra_css:
  - stylesheets/css/custom.css

# Social links
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/mentoredsprints
      name: Mentored Sprints Twitter account
    - icon: fontawesome/brands/github
      link: https://github.com/pycon-mentored-sprints
      name: Mentored Sprints GitHub
    - icon: fontawesome/solid/paper-plane
      link: mailto:organisers@mentored-sprints.dev
    - icon: fontawesome/brands/discord
      link: https://discord.gg/H4fYmEe
      name: Mentored Sprints Discord Server

# Extensions
markdown_extensions:
  - meta
  - admonition
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - toc:
      permalink: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - search
  - git-revision-date-localized
  - minify:
      minify_html: true


# TODO: add custom meta tags - https://squidfunk.github.io/mkdocs-material/reference/meta-tags/

# Page tree
nav:
  - Home: index.md
  - Code of conduct:
    - Introduction: code-of-conduct/01-index.md
    - CoC in detail: code-of-conduct/02-coc-detail.md
    - Reporting Guidelines: code-of-conduct/03-reporting.md
    - Enforcement Manual: code-of-conduct/04-enforcement.md
  - Organisers:
    - Getting Started: organisers/01-index.md
    - Roles and People: organisers/02-people.md
    - Tools and Apps: organisers/03-tools.md
  - Participants:
    - Contribution Sprints 101: participants/01-index.md
    - Asking Good Questions: participants/02-asking-questions.md
    - Git for contributors: participants/03-git-contributors.md
    - Git etiquette for contributors: participants/04-git-etiquette.md
    - Mentored Sprints PyCon 2021: participants/05-pycon2021.md
  - Mentors:
    - Mentored Sprints PyCon 2021: mentors/01-index.md
    - Preparation for the sprints: mentors/02-prepare.md
    - Our Discord server: mentors/03-discord.md
