.nav-list{
    .nav-list-item{
        .nav-list-link{
            &:hover,
            &.active {
                background: #b9c3de;
            }
        }
    }
}

.site-footer{
    color: #5A5A5B;
}

h1, h2,h3,h4,h5,h6{
    color: #e66a8d;
}


@media (min-width: 50rem) { 
    .site-header { 
        height: 200px; 
        max-height: 200px; 
        border-bottom: none; } }

@media (min-width: 50rem) { 
    .main-header { 
        border-bottom: 2px solid #e5c0c8; } }


a:not([class]){
        background-image: linear-gradient(#cbd5f0 0%, #cbd5f0 100%);
        background-size: 2px 2px;}

hr{
    background-color: #e5c0c8;
}

.main-content ul > li::before {
    color: #e5c0c8;}