[data-md-color-scheme="ms-dark"] {
    // Code - highlight colour
    --md-code-fg-color: #f8f8f2;
    --md-code-bg-color: #272935;
    --md-code-hl-operator-color: #ff7ac6;
    --md-code-hl-punctuation-color: #f8f8f2;
    --md-code-hl-string-color: #f1fa89;
    --md-code-hl-special-color: #bf95f9;
    --md-code-hl-number-color: #bf95f9;
    --md-code-hl-keyword-color: #ff7ac6;
    --md-code-hl-name-color: #f8f8f2;
    --md-code-hl-constant-color: #bf95f9;
    --md-code-hl-function-color: #52fa7c;
    --md-code-hl-comment-color: #6071a4;
    --md-code-hl-variable-color: #ffb86b;
    --md-code-hl-generic-color: #6071a4;
    --md-code-hl-color: #303550;
    --md-code-hl-entity-color: #52fa7c;
    --md-code-hl-tag-color: #ff7ac6;
    --md-code-hl-namespace-color: #f8f8f2;
    --md-code-hl-builtin-color: #8be8fd;
    --md-code-hl-class-color: #8be8fd;
    --md-code-special-bg-color: #323443;
    --md-code-alternate-bg-color: #3d3e49;
    --md-code-link-bg-color: #364653;
}
