//  Mentored Sprints customs stylesheet

// Theme Colours
$primary-colour: #ce89ce;
$primary-dark: #af49af;
$primary-light: #daa6da;
$secondary-colour: #4c54c9;
$secondary-light: #5b63ce;
$secondary-lightest: #878ddb;
$accent-teal: #39b2bf;
$accent-yellow: #f5c05b;
$accent-red: #f25764;
$off-black: #1b212f;
$dark-bg: #161a26;
$darkest-bg: #050709;
$off-white: #f8f9ff;
$slate: #6b7eaa;

// Components colours
$nav-colour: $secondary-colour;
$link-colour: $secondary-lightest;
$active-link: $primary-colour;
$foreground-colour: #d6d6d8;
$background-colour: $dark-bg;

// Fonts
$base-font-size: 0.8rem;
$nav-font-size: 0.7rem;
$heading-weight: bold;

// Global
:root {
    // Typeset color shades
    --md-typeset-color: $foreground-colour;
    --md-typeset-a-color: $link-colour;
}

body {
    background-color: $background-colour;
    color: $foreground-colour;
}

// This defines the main MS colours
[data-md-color-primary="mentored-sprints"] {
    .md-typeset {
        font-size: $base-font-size;
        a {
            color: $link-colour;
            border-bottom: 2px solid currentColor;
            font-size: $base-font-size;
            &:hover,
            &:focus {
                color: $secondary-light;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $accent-teal;
            font-weight: $heading-weight;
        }
    }
    .md-nav__link {
        &:active {
            color: $active-link;
        }
        &:hover,
        &:focus {
            color: $secondary-light;
            text-decoration: underline;
        }
    }
    .md-nav__link--active {
        color: $active-link;
        font-weight: bold;
    }
    // nav-header - smaller screens
    .md-header {
        background-color: $nav-colour;
    }
    .md-nav {
        font-size: $nav-font-size;
    }
}

// Adjust fonts
.md-typeset {
    h1 {
        font-size: 2.827rem;
        line-height: 3.4rem;
        margin-top: 3.4rem;
    }
    h2 {
        font-size: 1.999rem;
        line-height: 3.4rem;
        margin-top: 3.4rem;
    }
    h3 {
        font-size: 1.414rem;
        line-height: 1.7rem;
        margin-top: 1.7rem;
    }

    hr {
        border: 0;
        border-bottom: 3px solid $slate;
        margin-top: 35px;
    }
}

.context-menu {
    display: inline-block;
    font-size: 75%;
    line-height: 1.3;
    padding: 0.2em 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 3px;
    background-color: $darkest-bg;
    border: 1px solid $slate;
    font-weight: bold;
    color: $foreground-colour;
    box-shadow: none;
}

// buttons
button {
    border-style: solid;
    border-width: 2px;
    padding: 1px 7px 2px;
    border-radius: 3px;
    font-weight: bold;
}
button.button--ui {
    padding: 0.3rem;
    font-size: 12px;
    display: inline-block;
    vertical-align: bottom;
}
.button.button--ui {
    padding: 0.3rem;
    font-size: 12px;
    display: inline-block;
    vertical-align: bottom;
}
.button {
    display: inline-block;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 1.15em;
}

// TOC links
.md-nav__link {
    color: $link-colour;
}
.md-nav-item.md-nav__item--nested {
    .md-nav__link {
        color: $foreground-colour;
    }
}
.md-nav__title {
    padding: 2rem 1.2rem;
}

.md-nav__title--site {
    display: none;
}
.md-nav--primary {
    .md-nav__title[for="__drawer"] {
        display: none !important;
    }
}

.md-header {
    height: 85px;
}
.md-header-nav {
    padding: 1rem 0.4rem;
}

.md-header-nav__button.md-logo {
    img {
        width: 180px;
        height: 100%;
        margin-top: -10px;
    }
}

.md-header-nav__button {
    padding-top: 0;
}

// Remove topic from nav
.md-header__topic {
    display: none;
}

// Sidebar
.md-sidebar[data-md-state="lock"] {
    top: auto;
}

.md-nav__title {
    color: $foreground-colour;
    font-size: 1.2rem;
}

// main
.md-main__inner {
    padding-bottom: 7rem;
}

// logo on nav
.md-header__button.md-logo img {
    width: 160px;
    height: auto;
    margin: auto;
}

.md-header-nav__button {
    padding-top: 0;
}
.md-header-nav__topic {
    display: none;
}

.md-sidebar[data-md-state="lock"] {
    top: auto;
}
.md-main__inner {
    padding-bottom: 7rem;
}

// Tables

table {
    margin-top: 1.7rem;
    border-spacing: 0px;
    border-collapse: collapse;
    border-color: $slate;
}

.table--bordered {
    border: 1px solid $slate;
    td {
        border: 1px solid $slate;
    }
    th {
        border: 1px solid $slate;
    }
    thead {
        > tr {
            &:last-child {
                > th {
                    border-bottom-width: 3px;
                }
            }
        }
    }
}

.table {
    width: 100%;
    max-height: 100%;
    thead {
        > tr {
            &:first-child {
                > th {
                    border-top: 0;
                }
            }
        }
    }
    th {
        vertical-align: bottom;
        padding: 1em;
    }
    td {
        padding: 1em;
    }
}

.documentation-layout__content {
    article {
        table {
            width: 100%;
            max-height: 100%;
            thead {
                > tr {
                    &:first-child {
                        > th {
                            border-top: 0;
                        }
                    }
                }
            }
            th {
                vertical-align: bottom;
                padding: 1em;
            }
            td {
                padding: 1em;
            }
        }
        .alert {
            margin-top: 1.7rem;
            margin-top: 1.7rem;
        }
        .callout {
            margin-top: 1.7rem;
            margin-top: 1.7rem;
        }
        .embed-container {
            margin-top: 1.7rem;
            margin-top: 1.7rem;
        }
    }
}

.table--shortcuts {
    th {
        &:first-child {
            width: 50%;
        }
    }
    td {
        &:first-child {
            width: 50%;
        }
    }
}

.flex-grid {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: space-around;
}
.flex-item {
    flex: 1 100%;
    -ms-flex: 1 10%;
    padding: 10px;
    margin: auto;
}

// Mix

@media only screen and (max-width: 939px) {
    .flex-grid {
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 640px) {
    h1 {
        font-size: 4.242rem;
        line-height: 5.2rem;
    }
    h2 {
        font-size: 2.828rem;
    }
}
@media only screen and (max-width: 76.1875em) {
    html {
        .md-nav--primary {
            .md-nav__title--site {
                .md-nav__button {
                    display: block;
                    position: absolute;
                    top: 0.4rem;
                    left: 0.4rem;
                    width: 18.4rem;
                    height: 6.4rem;
                    font-size: 4.8rem;
                }
            }
            .md-nav__title {
                ~ {
                    .md-nav__list {
                        background-color: $background-colour;
                    }
                }
                background-color: $background-colour;
                color: $foreground-colour;
                &::before {
                    color: $foreground-colour;
                }
            }
        }
        [data-md-color-primary="mentored-sprints"] {
            .md-nav--primary {
                .md-nav__title--site {
                    background-color: $darkest-bg;
                }
            }
        }
    }
    .md-nav {
        background-color: $background-colour;
    }
}

// Footer
.md-footer {
    background-color: $darkest-bg;
}

.md-footer-meta {
    background-color: $darkest-bg;
}
.md-footer__direction {
    color: $slate;
}

.md-footer__button {
    color: $slate;
}

// Footer metadata
.md-footer-meta {
    // Lighten color for non-hovered text links
    html &.md-typeset a {
        color: $secondary-lightest;
        text-decoration: none;
        border-bottom: none;

        // Text link on focus/hover
        &:focus,
        &:hover {
            color: $secondary-light;
        }
    }
}
