// define variables here
:root {
    --primary-dark: #af49af;
    --primary-colour: #ce89ce;
    --primary-light: #daa6da;

    --secondary-colour: #4c54c9;
    --secondary-light: #5b63ce;
    --secondary-lightest: #878ddb;

    --accent-teal: #39b2bf;

    --off-black: #1b212f;
    --dark-bg: #161a26;
    --darkest-bg: #050709;
    --dark-fg: #d6d6d8;
    --off-white: #f8f9ff;

    // Fonts
    --base-font-size: 0.8rem;
    --nav-font-size: 0.7rem;
}
